<div class="d-flex h-100 text-center text-white bodyperso">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h1 class="float-md-start mb-0">
          {{ title }}
        </h1>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a
            mat-flat-button
            class="nav-link active"
            aria-current="page"
            href="#"
            >Home</a
          >
          <a mat-flat-button class="nav-link" href="#">Features</a>
          <a mat-flat-button class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>Your dream come true</h1>
      <p class="lead">
        event handler, calculates all expenses for an event. Organizes
        everything you need to do. You can choose from the selected providers.
      </p>
      <p class="lead">
        <button mat-button>
          <mat-icon>swipe_up</mat-icon> Swipe UP to continue
        </button>
      </p>
    </main>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../assets/images/about/jonathan-borba-jRb4Gvbs2gQ-unsplash.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Each event is unique</h1>
      <p class="lead">
        let's start filling out each form and we will give everything you would
        need to do it.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button mat-raised-button><mat-icon>next_plan</mat-icon> Start</button>
      </div>
    </div>
  </div>
</div>
<div class="headlineperso">
  <div
    class="
      position-relative
      overflow-hidden
      p-3 p-md-5
      m-md-3
      text-center
      bg-light
    "
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>What event would you to prepare?</ng-template>
          <ng-template matStepContent>
            <h4>Choose your event</h4>
            <mat-form-field appearance="fill">
              <mat-label>Event</mat-label>
              <mat-select>
                <mat-option *ngFor="let event of events" [value]="event">
                  {{ event }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>How many people would you to come?</ng-template>
          <ng-template matStepContent>
            <form class="example-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose an number</mat-label>
                <input matInput type="number">
              </mat-form-field>
            </form>

            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 3</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h3>Section</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">About</a>
          </li>
        </ul>
      </div>

      <div class="col-2">
        <h3>Section</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">About</a>
          </li>
        </ul>
      </div>

      <div class="col-2">
        <h3>Section</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">About</a>
          </li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h3>Subscribe to our newsletter</h3>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email address"
            />
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter" /></svg
          ></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram" /></svg
          ></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook" /></svg
          ></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
